

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body, html{
    font-family: Tahoma, sans-serif;
    color: #007070;
    height: 100%;
}

.pimg1, .pimg2{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
.pimg1{
    background-image: url(../img/img1.webp);
    min-height: 100%;
}
.pimg2{
    background-image: url(../img/img2.webp);
    min-height: 500px;
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 2px;
}
.ptext a{
    color: #002400;
    background-color: #008400;
    border: 5px solid #002400;
    border-radius: 5px;
    padding: 5px 50px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .3s;
}
.ptext a:hover{
    color: #008400;
    background-color: #002400;
    border: 5px solid #008400;
}
.ptext span{
    background-color: #40e0d0;
    border: 5px solid #007070;
    border-radius: 5px;
    padding: 5px 30px;
}
.ptext .author{
    font-family: Georgia, serif;
    font-weight: 600;
    color: #ff4500;
    background-color: #ffff00;
    border: 5px solid #ff4500;
    padding: 5px 50px;
}

.section{
    padding: 30px ;
    text-align: center;
    background-color: #ddffff;
}
.section h1{
    margin-bottom: 10px;
}
.section p{
    line-height: 1.2;
    letter-spacing: 1px;
}

@media (min-width: 768px){
    .pimg1, .pimg2{
        background-attachment: fixed;
    }
    .ptext{
        font-size: 2.5rem;
    }
    .ptext .author{
        font-size: 3rem;
        border: 7px solid #ff4500;
    }
    .section p{
        font-weight: 600;
    }
}