

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body, html{
    font-family: Tahoma, sans-serif;
    color: teal;
    height: 100%;
}
.pimg1, .pimg2{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.pimg1{
    background-image: url(../img/pimg1.jpg);
    min-height: 100%;
}
.pimg2{
    background-image: url(../img/pimg2.jpg);
    min-height: 500px;
}
